node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Svelte
# Note: Firebase.js is now using environment variables from .env

codutb-38c1e-firebase-adminsdk-346mp-8727e16237.json
